<a href="https://colab.research.google.com/github/vishalbansall/vishalbansall/blob/main/102066008.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
total=[*range(1, 21)]

cricket = input("Students who play cricket: ")
c  = cricket.split(',')
football = input("Students who play football: ")
f  = football.split(',')
hockey = input("Students who play hockey: ")
h  = hockey.split(',')

# c=[2,5,9,12,13,15,16,17,18,19]
# f=[2,4,5,6,7,9,13,16]
# h=[1,2,5,9,10,11,12,13,15]

Students who play cricket: 2,5,9,12,13,15,16,17,18,19
Students who play football: 2,4,5,6,7,9,13,16
Students who play hockey: 1,2,5,9,10,11,12,13,15

Student who play all three sports

In [17]:
totalSet=set(total)
s1=set(c)
s2=set(f)
s3=set(h)

set1 = s1.intersection(s2)
set2 = s2.intersection(s3)
set3 = s3.intersection(s1)
result_set = set1.intersection(s3)
final_list = list(result_set)
print("Student who play all three sports are ")
print(final_list)

Student who play all three sports are
['2', '13', '5', '9']

Student who play cricket and football but not hockey

In [18]:
q2=list(set1.difference(s3))
print("Student who play cricket and football but not hockey are ")
print(q2)

Student who play cricket and football but not hockey are
['16']

Students who play exactly two of the sports

In [19]:
q3a=list(set1.difference(s3))
q3b=list(set2.difference(s1))
q3c=list(set3.difference(s2))
q3=q3a+q3b+q3c
print("Students who play exactly two of the sports are ")
print(q3)

Students who play exactly two of the sports are
['16', '15', '12']

Students who don't play any game

In [20]:
totalSet=totalSet.difference(s1)
totalSet=totalSet.difference(s2)
totalSet=totalSet.difference(s3)
print("Students who don't play any game are ")
print(list(totalSet))

Students who don't play any game are
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]