<a href="https://colab.research.google.com/github/vishalbansall/vishalbansall/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
total=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

# cricket = input("Students who play cricket: ")
# c  = cricket.split()
# football = input("Students who play football: ")
# f  = football.split()
# hockey = input("Students who play hockey: ")
# h  = hockey.split()

c=[2,5,9,12,13,15,16,17,18,19]
f=[2,4,5,6,7,9,13,16]
h=[1,2,5,9,10,11,12,13,15]

Student who play all three sports

In [12]:
totalSet=set(total)
s1=set(c)
s2=set(f)
s3=set(h)

set1 = s1.intersection(s2)
set2 = s2.intersection(s3)
set3 = s3.intersection(s1)
result_set = set1.intersection(s3)
final_list = list(result_set)
print("Student who play all three sports are ")
print(final_list)

Student who play all three sports are
[9, 2, 13, 5]

Student who play cricket and football but not hockey

In [13]:
q2=list(set1.difference(s3))
print("Student who play cricket and football but not hockey are ")
print(q2)

Student who play cricket and football but not hockey are
[16]

Students who play exactly two of the sports

In [14]:
q3a=list(set1.difference(s3))
q3b=list(set2.difference(s1))
q3c=list(set3.difference(s2))
q3=q3a+q3b+q3c
print("Students who play exactly two of the sports are ")
print(q3)

Students who play exactly two of the sports are
[16, 12, 15]

Students who don't play any game

In [15]:
temp=c+f+h
temp2=set(temp)
q4=totalSet-temp2
print("Students who don't play any game are ")
print(list(q4))

Students who don't play any game are
[8, 3, 20, 14]